table{
    margin:2%;
    width: 46%;
    border-spacing: 0;
    border: 1px solid black;

}
td{
    border: 1px solid black;
    text-align: center;
}
th{
    border: 1px solid black;
    text-align: center;
}
#loggedUser{
    max-height: 80px;
    overflow-y: auto;
}